<section class="about" id="about">
    <div class="about__container container">

        <div class="about__image">
            <picture>
                <source srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x" media="(min-width:320px)"
                    type="image/webp">
                <source srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x">
                <img class="about__item-image" src="./images/home/people.jpg" alt="image people">
            </picture>
        </div>
        <div class="about__wrapper">

            <div class="about__information">
                <p class="about__subtitle subtitle">What you are looking for</p>
                <h2 class="about__title title">We provide bespoke solutions</h2>
                <p class="about__text text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
                    dignissimos quae laudantium asperiores nam
                    aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
                    maiores
                    deleniti?</p>
                <button class="about__button btn" type="button">
                    <svg class="hero__button-icon">
                        <use href="./images/sprite.svg#arrow"></use>
                    </svg>
                    Read More
                </button>
            </div>
        </div>

    </div>
</section>