<section class="features" id="features">
    <h2 class="visually-hidden">Особености</h2>
    <div class="features__container container">
        <ul class="features__list list">
            <li class="features__item">
                <div class="svg__container">
                    <svg class="features__icon" width="34px" height="34px">
                        <use href="./images/sprite.svg#university"></use>
                    </svg>
                </div>

                <h3 class="features__title">Investmant Banking</h3>
                <p class="features__text text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                    necessitatibus!</p>
            </li>
            <li class="features__item">
                <div class="svg__container">
                    <svg class="features__icon" width="34px" height="34px">
                        <use href="./images/sprite.svg#book-reader"></use>
                    </svg>
                </div>
                <h3 class="features__title">Portfolio Manager</h3>
                <p class="features__text text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                    necessitatibus!</p>
            </li>
            <li class="features__item">
                <div class="svg__container">
                    <svg class="features__icon" width="34px" height="34px">
                        <use href="./images/sprite.svg#pencil"></use>
                    </svg>
                </div>
                <h3 class="features__title">Tax & Custudio</h3>
                <p class="features__text text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                    necessitatibus!</p>
            </li>
        </ul>
    </div>
</section>