<footer class="footer">
    <div class="footer__container container">
        <ul class="social__list list">
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="facebook">
                    <svg class="social__icon" width="35px" height="35px">
                        <use href="./images/sprite.svg#fb"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="twiier">
                    <svg class="social__icon" width="35px" height="35px">
                        <use href="./images/sprite.svg#twitt"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="youtube">
                    <svg class="social__icon" width="40px" height="35px">
                        <use href="./images/sprite.svg#tube"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="linkedin">
                    <svg class="social__icon" width="31px" height="35px">
                        <use href="./images/sprite.svg#link"></use>
                    </svg>
                </a>
            </li>

        </ul>
        <p class="footer__text">Copyright &#169; 2021 - FinanceLedger</p>
    </div>
</footer>