<header class="header" lang="en" >
    <div class="header__container container">
        <a class="header__logo link" href="./" aria-label="Finance Ledger logo">
            <svg class="header__logo-svg">
                <use href="./images/sprite.svg#book-open"></use>
            </svg>
            <span class="header__text">Finance</span>&nbsp;<span>Ledger</span>
        </a>
        <nav class="navigation">
            <ul class="navigation__list list">
                <li class="navigation__item"><a href="#home" class="navigation__link link">Home</a></li>
                <li class="navigation__item"><a href="#features" class="navigation__link link">About</a></li>
                <li class="navigation__item"><a href="#cases" class="navigation__link link">Cases</a></li>
                <li class="navigation__item"><a href="#blog" class="navigation__link link">Blog</a></li>
                <!-- <li class="navigation__item"><a href="#team" class="navigation__link link">Team</a></li> -->
                <li class="navigation__item"><a href="#contact" class="navigation__link link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>