<section class="team" id="team">
    <div class="team__container container">
        <p class="team__subtitle subtitle">Who we are</p>
        <h2 class="team__title title">Our Professional Team</h2>
        <p class="team__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="team__list list">
            <li class="team__item">
                <div class="team__link-wrapper">
                    <div class="team__link-icons">
                        <ul class="social__list list">
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="facebook">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="twiier">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#twitt"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="youtube">
                                    <svg class="icons__scale" width="40px" height="35px">
                                        <use href="./images/sprite.svg#tube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="linkedin">
                                    <svg class="icons__scale" width="31px" height="35px">
                                        <use href="./images/sprite.svg#link"></use>
                                    </svg>
                                </a>
                            </li>

                        </ul>

                    </div>
                    <picture class="team__item-photo">
                        <source srcset="./images/team/person1.webp 1x, ./images/team/person1@2x.webp 2x"
                            media="(min-width:320px)" type="image/webp">
                        <source srcset="./images/team/person1.jpg 1x, ./images/team/person1@2x.jpg 2x">
                        <img class="team__image" src="./images/team/person1.jpg" alt="image person 1" />
                    </picture>
                </div>
                <h3 class="team__name">John Doe</h3>
                <p class="team__position">President</p>
            </li>
            <li class="team__item">
                <div class="team__link-wrapper">
                    <div class="team__link-icons">
                        <ul class="social__list list">
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="facebook">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="twiier">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#twitt"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="youtube">
                                    <svg class="icons__scale" width="40px" height="35px">
                                        <use href="./images/sprite.svg#tube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="linkedin">
                                    <svg class="icons__scale" width="31px" height="35px">
                                        <use href="./images/sprite.svg#link"></use>
                                    </svg>
                                </a>
                            </li>

                        </ul>

                    </div>
                    <picture>
                        <source srcset="./images/team/person2.webp 1x, ./images/team/person2@2x.webp 2x"
                            media="(min-width:320px)" type="image/webp">
                        <source srcset="./images/team/person2.jpg 1x, ./images/team/person2@2x.jpg 2x">
                        <img class="team__image" src="./images/team/person2.jpg" alt="image person 2" />
                    </picture>
                </div>
                <h3 class="team__name">Jane Doe</h3>
                <p class="team__position">Vice President</p>
            </li>
            <li class="team__item">
                <div class="team__link-wrapper">
                    <div class="team__link-icons">
                        <ul class="social__list list">
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="facebook">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="twiier">
                                    <svg class="icons__scale" width="35px" height="35px">
                                        <use href="./images/sprite.svg#twitt"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="youtube">
                                    <svg class="icons__scale" width="40px" height="35px">
                                        <use href="./images/sprite.svg#tube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link link" aria-label="linkedin">
                                    <svg class="icons__scale" width="31px" height="35px">
                                        <use href="./images/sprite.svg#link"></use>
                                    </svg>
                                </a>
                            </li>

                        </ul>

                    </div>
                    <picture>
                        <source srcset="./images/team/person3.webp 1x, ./images/team/person3@2x.webp 2x"
                            media="(min-width:320px)" type="image/webp">
                        <source srcset="./images/team/person3.jpg 1x, ./images/team/person3@2x.jpg 2x">
                        <img class="team__image" src="./images/team/person3.jpg" alt="image person 3" />
                    </picture>
                </div>

                <h3 class="team__name">Steve Smith</h3>
                <p class="team__position">Marketing Head</p>
            </li>
        </ul>

    </div>
</section>